layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zjstatus" {
                color_bg "#0b0e14"
                color_surface "#131721"
                color_surface2 "#1f2430"
                color_fg "#cccac2"
                color_muted "#565b66"
                color_orange "#ff8f40"
                color_yellow "#e6b450"
                color_purple "#d2a6ff"
                color_blue "#73b8ff"
                color_green "#aad94c"
                color_red "#f07178"
                color_cyan "#59c2ff"

                format_left "#[bg=$surface2,fg=$purple]  {session} {mode} {tabs}"
                format_center "{notifications}"
                format_right "#[fg=$purple]#[bg=$purple,fg=$surface2]󰃭 #[bg=$surface2,fg=$purple] {datetime} #[fg=$surface2]"
                format_space ""
                format_hide_on_overlength "true"
                format_precedence "lrc"

                border_enabled "false"
                hide_frame_for_single_pane "false"

                mode_normal "#[bg=$blue,fg=$bg,bold] NORMAL#[fg=$blue]"
                mode_tmux "#[bg=$purple,fg=$bg,bold] TMUX#[fg=$purple]"
                mode_locked "#[bg=$purple,fg=$surface2,bold] #[fg=$purple]"
                mode_pane "#[bg=$yellow,fg=$bg,bold] PANE#[fg=$yellow]"
                mode_tab "#[bg=$orange,fg=$bg,bold] TAB#[fg=$orange]"
                mode_scroll "#[bg=$cyan,fg=$bg,bold] SCROLL#[fg=$cyan]"
                mode_enter_search "#[bg=$green,fg=$bg,bold] ENTER SEARCH#[fg=$green]"
                mode_search "#[bg=$yellow,fg=$bg,bold] SEARCH#[fg=$yellow]"
                mode_resize "#[bg=$orange,fg=$bg,bold] RESIZE#[fg=$orange]"
                mode_rename_tab "#[bg=$green,fg=$bg,bold] RENAME TAB#[fg=$green]"
                mode_rename_pane "#[bg=$green,fg=$bg,bold] RENAME PANE#[fg=$green]"
                mode_move "#[bg=$orange,fg=$bg,bold] MOVE#[fg=$orange]"
                mode_session "#[bg=$cyan,fg=$bg,bold] SESSION#[fg=$cyan]"
                mode_prompt "#[bg=$blue,fg=$bg,bold] PROMPT#[fg=$blue]"

                tab_normal "#[fg=$muted]#[bg=$muted,fg=$blue,bold]{index} #[bg=$surface2,fg=$blue] {name}{floating_indicator}#[fg=$surface2]"
                tab_normal_fullscreen "#[fg=$muted]#[bg=$muted,fg=$blue,bold]{index} #[bg=$surface2,fg=$blue] {name}{fullscreen_indicator}#[fg=$surface2]"
                tab_normal_sync "#[fg=$muted]#[bg=$muted,fg=$blue,bold]{index} #[bg=$surface2,fg=$blue] {name}{sync_indicator}#[fg=$surface2]"
                tab_active "#[fg=$orange]#[bg=$orange,fg=$surface2,bold]{index} #[bg=$surface2,fg=$orange] {name}{floating_indicator}#[fg=$surface2]"
                tab_active_fullscreen "#[fg=$orange]#[bg=$orange,fg=$surface2,bold]{index} #[bg=$surface2,fg=$orange] {name}{fullscreen_indicator}#[fg=$surface2]"
                tab_active_sync "#[fg=$orange]#[bg=$orange,fg=$surface2,bold]{index} #[bg=$surface2,fg=$orange] {name}{sync_indicator}#[fg=$surface2]"
                tab_rename "#[fg=$green]#[bg=$green,fg=$surface2,bold]{index} #[bg=$surface2,fg=$green] {name}{floating_indicator}#[fg=$surface2]"
                tab_separator " "

                tab_sync_indicator " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator " 󰹙"

                notification_format_unread "#[fg=$yellow]#[bg=$yellow,fg=$bg] #[bg=$surface2,fg=$yellow] {message} #[fg=$surface2]"
                notification_format_no_notifications ""
                notification_show_interval "10"

                datetime "{format}"
                datetime_format "%m/%d 󰅐 %r"
                datetime_timezone "America/Chicago"
            }
        }
    }
}
